@import '../../theme';
$config: mat-typography-config();
main {
    max-height: 100%;
}

h1 {
    font-size: 4rem;
    color: mat-color($xmas-green);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 4rem;
    color: mat-color($xmas-red);
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    font-size: 3rem
}

mat-toolbar {
    position: fixed;
    background: transparent;
}
