<div class="background">
  <ng-container *ngIf="icons.platformBrowser; else serverTemplate">
    <!-- <xmas-tree *ngFor="let i of trees"></xmas-tree> -->
    <video #video muted autoplay playsinline loop disableremoteplayback x-webkit-airplay="deny" height="100%">
      <source src="https://xmas.s3.us-west-2.amazonaws.com/snow.mov" type="video/mp4">
    </video>
  </ng-container>
  <ng-template #serverTemplate>
    <!-- <xmas-tree id="tree"></xmas-tree> -->
  </ng-template>
</div>

<main *ngIf="icons.platformBrowser" [xmasTitle]="outlet" [@routeAnimations]="animate(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>