@import '../node_modules/@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'theme';

@include mat-core();

$xmas-theme: mat-dark-theme($xmas-red, $xmas-green, $xmas-gold);

@include angular-material-theme($xmas-theme);

$custom-typography: mat-typography-config(
  $font-family: 'rieven-uncial',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include mat-toolbar-typography($custom-typography);

html {
  background-color: rgb(255,255,255);
}

body {
  &::before {
    content: 'Fröliche Weinachten';
    position: absolute;
    top: -30px;
    text-align: center;
    width: 100%;
    left: 0; right: 0;
  }
  margin: 0;
  background-color: rgb(255,255,255);
  background: radial-gradient(ellipse at center, rgba(19,27,61,.8) 0%, rgba(19,27,61,1) 60%, rgba(19,27,61,1) 80%, rgba(10,20,31,1) 100%);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  width: 100%;
  height: 100vh;
}

xmas-root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;

  svg {
    width: 80vw;
    max-height: 80vh;
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  }
}
