mat-card {
    background: transparent;
    margin-top: 25px;
    cursor: pointer;
}

mat-icon.tag {
    height: 9rem;
    width: auto;
}

mat-card-title {
    font-size: 4rem !important;
    text-align: center;
}